.textinput{
    width: 100%  ;
    height: 80%  ;
    border-style: dashed;
    resize: none;
    
    }
    
    .comment{
      padding-top: 0.5cm;
    
    }
    .button_1{
       position:absolute ;
       right:0px ;
    }